<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <!--<property name="hibernate.current_session_context_class">thread</property>-->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
        <!--<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.generate_statistics">true</property>
        <!--<property name="hibernate.session_factory_name">jndi/servers/144</property>-->
        <!--<property name="hibernate.session_factory_name">jndi</property>-->
        <!--<property name="hibernate.current_session_context_class">jta</property>-->
        <!--<property name="transaction_factory_class">org.hibernate.transaction.JTATransaction</property>-->
        <!-- Drop and re-create the database schema on startup -->
        <!--<property name="hbm2ddl.auto">update</property>-->

        <mapping class="com.client.beans.domain.Client"/>
        <mapping class="com.client.beans.domain.ClientIp"/>
        <mapping class="com.client.beans.domain.ClientUl"/>

    </session-factory>
</hibernate-configuration>
